.skills_block {
    min-height: 100vh;
    background: #1a8f98;
}

.skills_wrap {
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    background: #c6c4c4;
}

.skill_elem_wrap {
    display: flex;
    justify-content: space-around;
    background: crimson;
    width: 100%;
    flex-wrap: wrap;
}